/**
 * Animation from 0 to 100%.
 */
@keyframes zero-to-hero-width {

  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/**
 * Animation from 100% to 0.
 */
@keyframes hero-to-zero-width {

  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
