// Bleed backgrounds past the page constraint.
@mixin bleed-background($background) {

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: map-get($colors-background, $background);
    z-index: map-get($z-index, 'below-bottom');
  }
}
