
// Contain content based on a max width.
@mixin constraints($width: 'container') {
  @include duk-gutter-horizontal(map-get($site-gutters, 'mobile'), padding);
  max-width: map-get($layout-width, site);
  width: map-get($layout-width, 'base');

  @include duk-at-breakpoint(tablet) {
    @include duk-gutter-horizontal(map-get($site-gutters, 'tablet'), padding);
  }

  @include duk-at-breakpoint(site-container) {
    @include duk-gutter-horizontal(0, padding);
  }

  > *:not(.no-constraints) {
    @include duk-gutter-horizontal(auto);
    max-width: map-get($layout-width, container);

    @include duk-at-breakpoint(site-container) {
      @include duk-gutter-horizontal($duk-triple-spacing-unit, padding);
    }

    @include duk-at-breakpoint(desktop-widest) {
      @include duk-gutter-horizontal(0, padding);
    }
  }
}

// Pull out content past constraints.
@mixin remove-constraints() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  overflow: hidden;
  max-width: none !important;
}