$button-height: 40px;
$button-height-desktop: 50px;
$button-radius: $button-height / 2;
$button-radius-desktop: $button-height-desktop / 2;
$button-padding: 25px;
$button-padding-desktop: $button-padding * 2;
$button-border-thickness: 2px;
