$flag-margin-bottom: 60px;
$flag-margin-bottom-desktop: $flag-margin-bottom * 2;
$flag-margin-body-bottom: 30px;
$flag-margin-body-desktop: 30px;
$flag-image-gutter: 75px;
$flag-gradient-box-position: -10px;
$flag-gradient-box-position-desktop: $flag-gradient-box-position * 2;
