// Settings for menu toggle.
$menu-toggle-width:                     70px;
$menu-toggle-height:                    70px;
$menu-toggle-line-height:               4px;
$menu-toggle-line-width:                22px;
$menu-toggle-line-width-alternate:      15px;
