.field-item {
  table {
    width: 100%;
    border: 1px solid map-get($colors-border, 'grey');

    td, th {
      padding: $duk-half-spacing-unit;
    }

    th {
      background-color: map-get($colors-background, 'light');
    }
  }
}