form.webform-client-form {
  .webform-component {
    max-width: 500px;
    margin: 1em 0;

    input:not(input[type="radio"]) {
      width: 100%;
    }

    select {
      width: 100%;
    }

    input[type="radio"] {
      & + label {
        margin-left: $duk-half-spacing-unit;
      }
    }

    > label {
      display: block;
    }
  }
}